<%- include ("partials/header") -%>

<h1 id="mainTitle">HOME</h1>
<p><%= homeContent %> </p>

<% posts.forEach(post => { %>
<div class="post">
  <h2><a href="/posts?title=<%= post.title %> "> <%= post.title %> </a></h2>

  <% if(post.body.length > 400){ %>
  <% const bodyPart = post.body.slice(0, 400) %>
  <p><%= bodyPart %> <a href="/posts?title=<%= post.title %> ">Read more</a></p>
  <% } else { %>
  <p> <%= post.body %> </p>
  <% } %>
</div>
<% }) %>


<!-- <a class="btn btn-primary" href="/compose">New Post</a> -->

<button class="btn btn-primary" id="composePostButton">New Post</button>

<div id="composeSection" style="display: none;">
  <%- include ("partials/compose-block") -%>
</div>

<script>
  var btn = document.getElementById("composePostButton");
  var composeSection = document.getElementById("composeSection");
  var composeTitle = document.getElementById("composeSectionTitle");


  btn.addEventListener("click", function() {
    if (composeSection.style.display !== "none") {
      composeSection.style.display = "none";
    } else {
      composeSection.style.display = "block";
      composeSection.scrollIntoView();
      composeTitle.focus();
      btn.textContent = "Hide compose section";
    }
  });
</script>
<%- include ("partials/footer") -%>